@import url("./header.css");
@import url("./first-page.css");
@import url("./tabs.css");
@import url("./awesome.css");
@import url("./pricing-options.css");
@import url("./axure.css");
@import url("./contact.css");

* {
    list-style: none;
    text-decoration: none;
    /* background-color: #E5E5E5; */
}
.container {
    max-width: 1170px;
    padding: 0px, 15px;
    background-color: white;
    margin: auto;
} 

