@import url(./awesome.css);
* {
    list-style: none;
    text-decoration: none;
}
.container {
    width: 1170px;
    margin: auto;
    padding: 0px, 15px;
    background-color: #dad3d3;
}
.pricing-options {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #86878B; 
}
.title {
    font-size: 36px;
    color: rgba(33, 33, 33, 1);
    text-transform: uppercase;
    text-align: center;
}
.line {
    width: 64px;
    height: 2px;
    background-color: #E72424;
    margin: 30px, 0;
}
.description {
    color: #86878B;
    size: 14px;
    margin: 30px, auto;
    text-align: center;
}

.pricing-row {
    margin: 80px, 0px;
    display: flex;
}   
.pricing-options-list {
    justify-content: space-around;  
}
    #list-item1 {
        width: 340px;
        font: "Open Sans";
        font-size: 20px;  
        font-weight: bold; 
        font-style: normal;
        color: #FFFFFF;
        text-align: center;
        background-color: #333333;
        margin-bottom: 2px;
    }
    #list-item2 {
        width: 340px;
        color: #FFFFFF;
        font: Raleway;
        font-size: 35px;
        text-align: center;
        background-color: #333333;
        margin-bottom: 2px;
    }
    #list-item3 {
        width: 340px;
        color: #FFFFFF;
        font: "Open Sans";
        size: 14px;
        text-align: center; 
        background-color: #333333;
        margin-bottom: 2px;  
    }
    #list-item4 {
        width: 340px;
        color: #86878B;
        font: "Open Sans";
        size: 14px;
        text-align: center;
        background-color: white;
        margin-bottom: 2px;   
    }
