.features-row {
    padding-left: 110px;
    padding-right: 110px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.tabs {
    display: flex;
    flex-direction: column;

}
.tab1 {
    width: 110px;
    height: 110px;
    border-radius: 5%;
    background-color: #EC7979;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 700;
    color: #FFFFFF;
    transition: 0.5s;
}
.tab1:hover {
    transform: scale(1.5);
}
.tab {
    width: 110px;
    height: 110px;
    border-radius: 5%;
    background-color: #333333;
    margin-top: 10px; 
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 700;
    color: #FFFFFF;
    transition: 0.5s;
}
.tab:hover {
    transform: scale(1.5);
}
.title-text-button {
    padding: 0px, 40px;
    margin: auto;
}
.h3-features {
    margin-bottom: 40px;
    width: 408px;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
}
.features-text {
    width: 500px;
    margin-bottom: 60px;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    text-transform: uppercase;
    color: #86878B;;
}
.features-button {
    width: 135px;
    height: 42px;
    background-color: #EC7979;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 15px;
    line-height: 20px; 
    text-align: center;
    color: #FFFFFF;
}
.picture {
    width: 320px;
    height: 253px;
    top: 100px;

}